@import "/src/shared/colors.css";

.navigation {
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 60px;
  width: 100%;
  /* background-color: var(--light); */
}

/* .mainGrid {
  margin-top: 60px;
} */
