:root {
    --primary: #FF3366;
    --secondary: #20A4F3;
    --icons: #2EC4B6;
    --light: #F6F7F8;
    --dark: #011627;
    --neutralDark: #263846;
    --neutralMedium: #63707A;
    --neutralLight: #A0A8AF;
    --neutralUltralight: #D1D5D9;
  }