@import "/src/shared/colors.css";

.item {
  align-items: left;
  background-color: var(--light);
  margin: 0 10px;
  padding: 10px 1px;
  border-bottom: 1px solid var(--neutralUltralight);
}

.item h1,
.item h3,
.item h4 {
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  /* flex: 1 1 auto; */
  margin: 0;
}

.item h1 {
  flex: 1 1 auto;
  margin-bottom: 15px;
}

.item h3 {
  color: var(--neutralDark);
}

.item h4 {
  color: var(--neutralMedium);
  font-size: 16px;
  margin-bottom: 2px;
}

.old_load {
  color: var(--neutralLight);
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
  margin-bottom: 2px;
  text-decoration: line-through;
}

.paused {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.paused h4 {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light);
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
