@import "/src/shared/colors.css";

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  height: 35px;
  width: 100%;
  top: 60;
  left: 0;
  background-color: var(--light);
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid var(--neutralUltralight);
  display: flex;
  color: var(--neutralLight);
  font-size: 15px;
  z-index: 9;
}

.start {
  /* height: 90; */
  padding: 40px 10px;
  margin: 15px 10px 0px 10px;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.finalize {
  /* height: 90; */
  padding: 40px 10px;
  margin: 15px 10px 0px 10px;
  background-color: var(--icons);
  color: var(--light);
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.save_load,
.finalize_dialog {
  /* height: 90; */
  padding: 40px 10px;
  /* margin-top: 20px; */
  /* margin: 15px 10px 0px 10px; */
  background-color: var(--icons);
  color: var(--light);
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.cancel {
  /* height: 60; */
  padding: 20px 10px;
  margin: 10px;
  background-color: var(--neutralUltralight);
  color: var(--neutralMedium);
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.snackbar {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

.snackbar h3,
.snackbar p {
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 900; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.dialog {
  width: 500px;
  max-width: 90%;
  max-height: 90%;
  margin: 0px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: var(--light);
  padding: 0px;
  border-radius: 6px;
  /* display: flex; */
  /* flex-direction: "column"; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* pointer-events: none; */
}

.dialog_content {
  padding: 15px 15px 30px 15px;
  overflow-y: auto;
  color: var(--neutralMedium);
}

.dialog_content h3 {
  font-weight: 600;
  color: var(--neutralDark);
}

.dialog_content input {
  font: inherit;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--neutralMedium);
  margin: 0 5px;
}

.dialog_header {
  color: var(--secondary);
  border-bottom: 1px solid var(--neutralUltralight);
  padding: 10px 15px;
  /* width: 100%; */
}

.dialog_header h2 {
  margin: 0px;
  color: var(--secondary);
  font-size: 22px;
  font-weight: 600;
}

.dialog_header button {
  color: var(--secondary);
  background-color: transparent;
  border: none;
  padding: 6px;
  margin: 0 5px;
}
