@import "/src/shared/colors.css";

.item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.content {
  text-align: left;
  padding: 15px;
}

.content h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0 0 0;
  color: var(--primary);
}

.content p,
.active_label,
.archived_label {
  font-size: 16px;
  font-weight: 400;
  margin: 3px 0 0 0;
  color: var(--neutralMedium);
}

.content p {
  margin: 6px 0 0 0;
}

.active_label {
  color: var(--icons);
}

.archived_label {
  color: var(--neutralLight);
}

.active,
.archived,
.live {
  height: 8px;
  width: 8px;
  display: flex;
  border-radius: 50%;
}

.active {
  background-color: var(--icons);
}

.archived {
  background-color: var(--neutralLight);
}

.live {
  transition: all 3s;
  transition-timing-function: linear;
  opacity: 0.1;
  background-color: var(--icons);
  height: 16px;
  width: 16px;
}

.status_box {
  width: 20px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessions_counter {
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 15px;
  padding: 1px 3px;
  border-radius: 3px;
  color: var(--neutralMedium);
  background-color: var(--neutralUltralight);
}
