@import "/src/shared/colors.css";

.header {
  position: sticky;
  height: 35px;
  width: 100%;
  top: 60px;
  left: 0;
  background-color: var(--light);
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid var(--neutralUltralight);
  display: flex;
  color: var(--neutralLight);
  font-size: 15px;
  z-index: 9;
}

.add_exercise,
.delete {
  /* height: 60; */
  padding: 20px 10px;
  margin: 10px;
  background-color: var(--neutralUltralight);
  color: var(--neutralMedium);
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.save {
  /* height: 90; */
  padding: 40px 10px;
  margin: 15px 10px 0px 10px;
  background-color: var(--icons);
  color: var(--light);
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form {
  margin: 10px;
}

.control {
  margin-bottom: 20px;
}

.control label {
  /* display: block; */
  font-weight: 400;
  font-size: 15px;
  color: var(--neutralLight);
}

.control input {
  /* display: block; */
  font: inherit;
  color: var(--neutralDark);
  border-radius: 0px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--neutralMedium);
  padding: 6px 2px;
  margin-top: 6px;
  width: 100%;
}

.control input::placeholder {
  color: var(--neutralLight);
}

.dialog_content input {
  font: inherit;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--neutralMedium);
  margin: 0 5px;
}

.switch_button {
  border-radius: 5px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--neutralUltralight);
  padding: 25px 20px;
  margin: 5px 10px 15px 10px;
  color: var(--neutralMedium);
  font-size: 16px;
}

.loading {
  width: 80%;
  color: var(--neutralLight);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}