.loading {
  width: 80%;
  color: var(--neutralLight);
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout {
  /* height: 90; */
  padding: 40px 10px;
  margin: 15px 10px 70px 10px;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.bottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}